*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	background-color: var(--color-bg-secondary);
	color: var(--color-text-primary);
	display: flex;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	min-height: 100vh;
	min-height: 100svh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	color: var(--color-accent-ink);
	font-family: 'Biro Script Sloppy';
	font-size: 2.75rem;
	font-weight: 500;
	line-height: 1.6;
}

h2 {
	color: var(--color-text-quaternary-alpha);
	font-size: 1.875rem;
	font-weight: 500;
	letter-spacing: 0.025rem;
	text-transform: capitalize;
}

h3 {
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.065rem;
}

p {
	font-size: 0.875rem;
	line-height: 1.4;
}

@font-face {
	font-family: 'Biro Script Sloppy';
	font-style: normal;
	font-weight: normal;
	src:
		url('../assets/fonts/biro_script_sloppy_plus_us.woff') format('woff'),
		url('../assets/fonts/biro_script_sloppy_plus_us.woff2') format('woff2');
}

@media (width >= 992px) {
	h2 {
		color: var(--color-text-secondary);
		font-size: 2rem;
		font-weight: 450;
		letter-spacing: 0;
	}

	h3 {
		font-size: 1rem;
	}

	p {
		font-size: 0.9rem;
	}
}
