#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cv {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;

	& > main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
		padding: var(--space-xl) 0;
	}

	.sections,
	.section {
		display: flex;
		flex-direction: column;
	}

	.section {
		padding: 0 0 var(--space-xxxl);

		&-divider {
			background-color: var(--color-text-primary-alpha);
			display: none;
			grid-column: 1 / -1;
			height: 1px;
			width: 100%;
		}

		&-title {
			padding: 0 var(--space-xs) var(--space-xxxs);
		}

		&-title.bb {
			border-bottom: 1px solid var(--color-text-primary-alpha);
		}

		&-content {
			column-gap: var(--grid-gap);
			display: grid;
			grid-template-columns: 1fr;
		}

		&-content > .accordion {
			grid-column: 1 / -1;
		}

		&-content > .skills {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			grid-column: 1 / -1;
			padding: var(--space-xxs) var(--space-xxs) 0;
		}

		&-content > .cv-signature,
		&-content > .cv-summary {
			grid-column: 1 / -1;
		}

		.cv-signature {
			text-align: center;
			padding: 0 0 var(--space-md);
		}

		.cv-summary {
			padding: 0 var(--space-xxs);
		}
	}

	.section:first-child {
		padding: 0 0 var(--space-xxxl);
	}

	@media (width >= 992px) {
		.sections {
			grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
		}

		.section {
			margin: 0 var(--space-xs);

			&-divider {
				display: block;
			}

			&-title {
				padding: var(--space-xxs) var(--space-xxs) 0;
			}

			&-title.bb {
				border: none;
			}

			&-content {
				grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
			}

			&-content > .accordion,
			&-content > .cv-signature,
			&-content > .cv-summary,
			&-content > .skills {
				grid-column: 5 / span 7;
			}

			&-content .cv-signature {
				text-align: left;
			}

			&-content .cv-summary {
				padding: 0;
			}

			&-content > .skills {
				padding: 0;
			}
		}
	}
}
