#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cv {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;

	&::after {
		content: '';
		background-color: var(--color-bg-secondary-alpha);
		backdrop-filter: blur(6.5px);
		inset: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition:
			background-color 0.25s ease-out 0.25s,
			backdrop-filter 0.25s ease-out 0.25s,
			opacity 0.25s ease-out 0.25s;
		z-index: 1;
	}

	&.menu-open::after {
		opacity: 1;
		transition-delay: 0s;
	}

	header {
		align-items: center;
		color: var(--color-text-secondary);
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 99; // Ensure header is above other content

		.header-container {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding: var(--space-sm);
			width: 100%;
		}
	}

	& > main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
	}

	.sections,
	.section {
		display: flex;
		flex-direction: column;
	}

	.section {
		&-divider {
			background-color: var(--color-text-primary);
			display: block;
			grid-column: 1 / -1;
			height: 1px;

			&.desktop {
				display: none;
			}
		}

		&-container {
			column-gap: var(--grid-gap);
			display: grid;
			grid-template-columns: repeat(var(--grid-columns), 1fr);
			padding: var(--space-lg) 0;
		}

		&-title {
			padding: 0 var(--space-xs) var(--space-xxs);
		}

		&-title,
		&-content,
		&-container > .cv-signature,
		&-content > .cv-summary,
		&-content > .accordion,
		&-content > .skills {
			grid-column: 1 / -1;
		}

		&-content > .skills {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
	}

	.section:first-child {
		.section-container:first-child {
			gap: var(--grid-gap-desktop);
			padding: var(--space-lg) var(--space-xxxs);
		}

		.cv-signature {
			text-align: center;
		}
	}

	@media (width >= 992px) {
		header {
			.header-container {
				padding: var(--space-md);
			}
		}

		.section {
			&-divider {
				&.desktop {
					display: block;
				}
			}

			&-container {
				padding: 0 var(--space-md);
			}

			&-title {
				grid-column: 1 / span 3;
				padding: 0 0 var(--space-xxxs);
			}

			&-content {
				grid-column: 5 / span 7;
				margin-bottom: calc(var(--grid-column-width) - var(--space-sm));
			}

			&-content > .cv-summary {
				padding: 0;
			}

			&-content > .skills {
				padding: var(--space-md) 0;
			}
		}

		.section:first-child {
			.section-container:first-child {
				padding: 0 var(--space-sm);
			}
		}
	}
}
