#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cv {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;

	& > main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
		padding: var(--space-xl) 0;
	}

	&-containers,
	&-container {
		display: flex;
		flex-direction: column;
	}

	&-container {
		padding: 0 0 var(--space-xxl);
	}

	.line {
		background-color: var(--color-text-primary-alpha);
		display: none;
		grid-column: 1 / -1;
		height: 1px;
		width: 100%;
	}

	&-title {
		padding: 0 var(--space-xs) var(--space-xs);
	}

	&-title.bb {
		border-bottom: 1px solid var(--color-text-primary-alpha);
	}

	&-content {
		column-gap: var(--grid-gap);
		display: grid;
		grid-template-columns: 1fr;
	}

	&-content > .accordion {
		grid-column: 1 / -1;
	}

	&-content > .skills {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		grid-column: 1 / -1;
		padding: var(--space-xs) var(--space-xs) 0;
	}

	@media (width >= 992px) {
		&-containers {
			grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
		}

		&-container {
			margin: 0 var(--space-sm);
		}

		.line {
			display: block;
		}

		&-title {
			padding: var(--space-xs) var(--space-xs) 0;
		}

		&-title.bb {
			border: none;
		}

		&-content {
			grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
			padding: var(--space-md) 0 0;
		}

		&-content > .accordion,
		&-content > .skills {
			grid-column: 5 / span 7;
		}

		&-content > .skills {
			padding: var(--space-lg) 0 0;
		}
	}
}
