#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cv {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;

	& > main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
	}

	.sections,
	.section {
		display: flex;
		flex-direction: column;
	}

	.section {
		&-divider {
			background-color: var(--color-text-primary);
			display: block;
			grid-column: 1 / -1;
			height: 1px;

			&.desktop {
				display: none;
			}
		}

		&-container {
			column-gap: var(--grid-gap);
			display: grid;
			grid-template-columns: repeat(var(--grid-columns), 1fr);
			padding: var(--space-lg) 0;
		}

		&-title {
			padding: 0 var(--space-xs) var(--space-xxs);
		}

		&-title,
		&-content,
		&-container > .cv-signature,
		&-content > .cv-summary,
		&-content > .accordion,
		&-content > .skills {
			grid-column: 1 / -1;
		}

		&-content > .skills {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
	}

	.section:first-child {
		.section-container:first-child {
			gap: var(--grid-gap-desktop);
			padding: var(--space-lg) var(--space-xxxs);
		}

		.cv-signature {
			text-align: center;
		}
	}

	@media (width >= 992px) {
		.section {
			&-divider {
				&.desktop {
					display: block;
				}
			}

			&-container {
				padding: 0 var(--space-md);
			}

			&-title {
				grid-column: 1 / span 3;
				padding: 0 0 var(--space-xxxs);
			}

			&-content {
				grid-column: 5 / span 7;
				margin-bottom: calc(var(--grid-column-width) - var(--space-sm));
			}

			&-content > .cv-summary {
				padding: 0;
			}

			&-content > .skills {
				padding: var(--space-md) 0;
			}
		}

		.section:first-child {
			.section-container:first-child {
				padding: 0 var(--space-sm);
			}
		}
	}
}
