:root {
	--color-accent-ink: #3436a3;
	--color-accent-whitesmoke: whitesmoke;

	--color-bg-primary: #fdfcf8;
	--color-bg-secondary: #f1f0ed;
	--color-bg-tertiary: #e5e4df;
	--color-bg-quaternary: #cccbc6;

	--color-bg-primary-alpha: rgba(121, 120, 115, 0.29);
	--color-bg-secondary-alpha: rgba(121, 120, 125, 0.16);
	--color-bg-tertiary-alpha: rgba(121, 120, 125, 0.12);
	--color-bg-quaternary-alpha: rgba(121, 120, 125, 0.08);

	--color-text-primary: #191919;
	--color-text-secondary: #66645f;
	--color-text-tertiary: #898782;
	--color-text-quaternary: #a6a4a2;

	--color-text-primary-alpha: rgba(29, 29, 29, 0.69);
	--color-text-secondary-alpha: rgba(29, 29, 29, 0.59);
	--color-text-tertiary-alpha: rgba(29, 29, 29, 0.49);
	--color-text-quaternary-alpha: rgba(29, 29, 29, 0.29);

	--grid-columns: 12;
	--grid-gap: 1rem;
	--grid-gap-desktop: 1.5rem;

	--grid-column-width: calc(
		(
				100vw - (var(--space-md) * 2) -
					((var(--grid-columns) - 1) * var(--grid-gap-desktop))
			) /
			var(--grid-columns)
	);

	--motion-duration: 400ms;
	--motion-ease: ease-in-out;

	--space-xxxs: 0.5rem;
	--space-xxs: 0.75rem;
	--space-xs: 1rem;
	--space-sm: 1.5rem;
	--space-md: 2rem;
	--space-lg: 3rem;
	--space-xl: 3.5rem;
	--space-xxl: 4.5rem;
	--space-xxxl: 6rem;
}
