:root {
	--color-accent-ink: #3436a3;
	--color-accent-whitesmoke: whitesmoke;

	--color-bg-primary: #fdfcf8;
	--color-bg-secondary: #f1f0ed;
	--color-bg-tertiary: #e5e4df;
	--color-bg-quaternary: #cccbc6;

	--color-bg-primary-alpha: rgba(121, 120, 115, 0.29);
	--color-bg-secondary-alpha: rgba(121, 120, 125, 0.16);
	--color-bg-tertiary-alpha: rgba(121, 120, 125, 0.12);
	--color-bg-quaternary-alpha: rgba(121, 120, 125, 0.08);

	--color-text-primary: #191919;
	--color-text-secondary: #66645f;
	--color-text-tertiary: #898782;
	--color-text-quaternary: #a6a4a2;

	--color-text-primary-alpha: rgba(29, 29, 29, 0.69);
	--color-text-secondary-alpha: rgba(29, 29, 29, 0.59);
	--color-text-tertiary-alpha: rgba(29, 29, 29, 0.49);
	--color-text-quaternary-alpha: rgba(29, 29, 29, 0.29);

	--grid-columns: 12;
	--grid-gap-md: 16px;
	--grid-gap: var(--grid-gap-md);

	--motion-duration: 400ms;
	--motion-ease: ease-in-out;

	--space-xxs: 8px;
	--space-xs: 12px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 72px;
	--space-xxl: 96px;
}
